<?xml version="1.0" encoding="UTF-8" ?>
<Configuration packages="com.philips.hsp.logging.log4j" status="WARN">
    <Appenders>
        <!-- Simple console logger -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %highlight{%-5p %X{id} %X{traceId} %X{spanId} %c{1.}.%M:%L - %msg%n%ex{separator(\u2028)}}" />
        </Console>
        <HspLogAppender name="HspLogAppender"
                        productKey="<your-product-key>"
                        sharedKey="<your-shared-key>"
                        secretKey="<your-secret-key>"
                        logIngestUrl="<your-ingest-url> eg: https://logingestor2-client-test.us-east.philips-healthsuite.com/core/log/LogEvent"
                        applicationName="${project.name}"
                        applicationVersion="${project.version}"
                        serviceName="${project.artifactId}"
                        category="ApplicationLog">
        </HspLogAppender>
    </Appenders>
    <Loggers>
        <Logger name="org.example" level="debug" additivity="false">
            <AppenderRef ref="HspLogAppender" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="HspLogAppender"/>
        </Root>
    </Loggers>
</Configuration>